<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home - Page</title>
  </head>
  <body>
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="958" height="602">
      <title></title>
    <defs>
    <style type="text/css">
                         /* default color for all states not specified below */
    .borders {stroke:#FFFFFF; stroke-width:1}    /* color and width of borders between states */
    .DCcircle {opacity:1}                        /* set opacity to 0 to hide the DC circle, or 1 to show it */
    .separator {stroke:#B0B0B0; stroke-width:2}  /* color and width of lines around Alaska and Hawaii */
    /*.state:hover {fill:#A9A9A9}*/

    /* Individual states and territories can be colored as follows:
    #KS, #MT, #PA {fill:#0000FF}
    #CA, #TN {fill:#FF0000}
    In this example, Kansas, Montana and Pennsylvania are colored blue, and California and Tennessee are colored red.
    Place this code in the empty space below. */



    </style>
    </defs>

    <g transform="translate(-32)">

    <g class="state">
      {% for state in states %}
        <a href="{{ url_for('states_detail', state_id = statesNames[state['id']]) }}"> <path id="{{state['id']}}" fill="{{ colors[state['id']] }}" d="{{ state['coords'] }}"></a>
      {% endfor %}
    </g>

    {% for border in borders %}
        <path class="{{ border['id'] }}" fill="{{ colors[border['id']] }}">
    {% endfor %}



    <circle class="state borders DCcircle" id="DC" cx="858.5" cy="257.9" r="5">
      <title>District of Columbia</title>
    </circle>

    <path class="separator" fill="none" d="m 0,440 205,0 220,105 0,65 m -150,-136.59 0,61.59 80,75"/>

    </g>
    </svg>

  </body>
</html>
