{% extends 'bootstrap/base.html' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <nav>
      <div class="topnav">
        <a href="{{ url_for('home') }}">Population</a>
        <a href="{{ url_for('covid_map') }}">Cases</a>
        <a href="{{ url_for('recoveries') }}">Recovered</a>
        <a href="{{ url_for('deaths') }}">Deaths</a>
        <a href="{{ url_for('mysteries') }}">???</a>
      </div>
    </nav>
  </head>
  <body style="background-color: black; color: white;">
    <h1 style="text-align: center;">The R0na Tracker</h1>

    <h1 style="text-align: center;">{{ state_info['id'] }}</h1><br><br>
<style>
  /* table{
    border: solid, 2px, white;
    color: white;
    padding-left: 300px;

  } */

  .dataTable{
    padding-left: 300px;
  }


  .meme_container{
    width:500px;
    text-align: center;
  }

  .push{
    padding-left: 50px;
  }
</style>
<div class="push">
 <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><img class="img-rounded img-responsive" src="{{url_for('static', filename='images/' + state_info['id'] + '.png') }}" /></div>
    <div class="col-sm-4">
      <table>
      	<tr >
      		<td>Population</td>
      		<td class="push">{{ state_info['population'] }}</td>
      	</tr>
      	<tr>
      		<td>Cases Reported</td>
      		<td class="push">{{ state_info['casesReported'] }}</td>
      	</tr>
      	<tr>
      		<td>Recovered</td>
      		{% if state_info['recovered'] != None %}
      			<td class="push">{{ state_info['recovered'] }}</td>
      		{% else %}
      			<td class="push">Info Unavailable</td>
      		{% endif %}
      	</tr>
      	<tr>
      		<td>Deaths</td>
      		<td class="push">{{ state_info['death'] }}</td>
      	</tr>
      </table><br><br><br>
    </div>
    <div class="col-sm-4"></div>
  </div>
<br><nr>
<div class="push">
  <div class="row">
    <div class="col-sm-12">
      {% for i in memes %}
      	<a href="{{ url_for('update', img_id = i['id'], state_name_detail = state_info['id']) }}"><img src="{{ i['url'] }}" width="100" height="100" alt="error"></a>
      {% endfor %}
    </div>
  </div>
</div>



  </body>
 {% endblock %}
</html>
